/* DEBUT TYPOGRAPHIE */
h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color:  #484526;
  }
  
  .h2vert{
    font-size: 24px;
    font-weight: bold;
    color: #484526;
  }

  .h2blanc{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }

  .h2marron{
    font-size: 24px;
    font-weight: bold;
    color: rgb(242, 182, 126);
  }
  
  .h2marronrigth{
    font-size: 24px;
    font-weight: bold;
    color: #D79D66;
    padding-left: 100px;
  }
  
  .h3blanc{
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
  }
  .h3blanc1{
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
  }
  .h3vert{
    font-size: 20px;
    font-weight: bold;
    color: #484526;
  }
  .h4marron{
    font-size: 18px;
    font-weight: bold;
    color: #D79D66;
  }
  .h4vert{
    font-size: 14px;
    font-weight: bold;
    color: #484526;
  }
  .h4blanc{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
  .h5marron{
    font-size: 13px;
    font-weight: normal;
    color: #D79D66;
  }
  .h5noir{
    font-size: 13px;
    font-weight: normal;
    color:  #343331;
  }
  .h5blanc{
    font-size: 12px;
    font-weight: normal;
    color:  #ffffff;
  }
  .h5menu{
    font-size: 12px;
    font-weight: normal;
    color:  #ffffff;
  }

  .h5menu:hover{
    color:#D79D66;
  }

  .pgourmet{
    font-size: 25px;
    font-weight: normal;
    color:  #ffffff;
  }
  .pastuce{
    font-size: 14px;
    font-weight: normal;
    color:  #1e1e1d;
  }
  .ptexte{
    font-size: 14px;
    font-weight: normal;
    color:  #343331;
  }
  
  .ptexteplat{
    font-size: 14px;
    font-weight: normal;
    color:  #343331;
  }
  
  .pinformation{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color:  #ffffff;
  }

  .ptexte2{
    font-size: 14px;
    font-weight: normal;
    color:  #ffffff;
  }
  /* FIN TYPOGRAPHIE */